html {
  height: 100vh;
  background-color: #ece0ff;
  font-family: 'Montserrat', sans-serif;
  background: url('wedding_cover.jpg') no-repeat 100% 10% fixed;
  background-size: cover;
}

header {
  padding: 24px;
}

h1 {
  margin-bottom: 0;
  -webkit-margin-after: 0;
  -webkit-margin-before: 0;
}

footer {
  bottom: 0;
  position: fixed;
  text-align: center;
  width: 100%;
}

h3 {
  font-size: 1.5em;
  font-weight: 700;
}

a {
  color: #e2e2e2;
}

li {
  list-style: none;
}

section {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 2%;
  color: white;
  font-weight: 600;
  border: 2px solid white;
}

section > div {
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

.heart {
  color: #a32525;
}

.header {
  text-align: center;
  margin-bottom: 2%;
  color: white;
  font-size: 1.5em;
  font-weight: 700;
}

.header-subtitle {
  font-size: 1.3em;
  font-weight: 700;
}

.info-content {
  width: 70%;
  margin: 0 auto;
  margin-bottom: 90px;
  padding: 24px;
  background-color: rgba(206, 206, 206, 0.5);
  border-radius: 2px;
  box-shadow: 0px 0px 5px rgba(198, 198, 198, 0.8);
}

.content-group {
  margin-bottom: 2%;
  border: 2px solid white;
}

.content-group section {
  border: none;
}

.route {
  padding-top: 12px;
}

.footer-wrapper {
  height: 90px;
  background-color: rgb(51, 51, 51);
  color: white;
  padding: 6px;
  margin: 0 auto;
}

.bold {
  color: #bc2121;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.riddle-box {
  background-color: white;
  margin: 0 auto;
  max-width: 400px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height: 600px;

  border-radius: 5px;
  box-shadow: 0px 0px 1px 1px grey;
}

.riddle-box-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.riddle-box-content p {
  text-align: center;
}

.riddle-box-footer {
  padding: 12px;
}

.riddle-input {
  width: 70%;
  font-size: 1.2em;
  font-weight: 700;
  line-height: 30px;
  border: none;
  border-bottom: 1px solid lightblue;
  align-self: center;
  margin-bottom: 10px;
  text-align: center;
}

.riddle-input:focus {
  outline: none;
  animation: border-focus 1s ease-in forwards;
}

.riddle-button {
  font-weight: 700;
  font-size: 1.2em;
  background-color: #166cf7;
  color: white;
  padding: 8px;
}

.riddle-button:hover {
  cursor: pointer;
  background-color: #0050d1;
}

.invisible {
  display: none;
  visibility: hidden;
}

.alphabet-code {
  font-weight: 700;
  font-size: 1.1em;
}

@keyframes border-focus {
  0% {
    border-bottom: 1px solid lightblue;
  }
  50% {
    border-bottom: 1px solid blue;
  }
  100% {
    border-bottom: 1px solid #0050d1;
  }
}